<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layouts/head :: head}">
</head>

<body>
	<header th:insert="~{layouts/header :: header}"></header>
	<div class="container">
		<form th:action="@{/movie}" th:object="${movie}" method="post" class="col-md-8 offset-md-2" enctype="multipart/form-data">
			<h2 th:text="${title}" class="py-4"></h2>
			<div class="row mb-3">
				<label for="inputName" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputName" th:field="*{name}">
					<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="inputReleaseDate" class="col-sm-2 col-form-label">Release Date</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="inputReleaseDate" th:field="*{releaseDate}">
					<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="gender" class="col-sm-2 col-form-label">Genders</label>
				<div class="col-sm-10">
					<select class="form-select" th:field="*{gender}">
						<option th:each="gender : ${genders}" th:text="${gender.name}" th:value="${gender.id}"></option>
					</select>
					<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="protagonists" class="col-sm-2 col-form-label">Actor</label>
				<div class="col-sm-10">
					<select class="form-select" th:field="*{protagonists}" onchange="actorSelected(this);">
						<option th:text="'Seleccionar un actor'" th:value="0"></option>
						<option th:each="actor : ${actors}" th:text="${actor.name}" th:value="${actor.id}" th:data-url="${actor.imageUrl}"></option>
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<label for="file" class="col-sm-2 col-form-label">Image</label>
				<div class="col-sm-10">
					<div id="preview" class="d-none">
						
					</div>
					<input type="file" id="file" name="file" onchange="previsualization()">
				</div>
			</div>
			<input id="ids" name="ids" type="hidden" th:value="${ids}">
			<input id="id" name="id" type="hidden" th:field="*{id}">
			<input id="image" name="image" type="hidden" th:field="*{image}">
			<div id="actors_container" class="row">
				
			</div>
			<button type="submit" class="btn btn-primary float-end">Save</button>
		</form>
	</div>
</body>
<script>
	$(function(){
		let ids = $("#ids").val();
		let arr = ids.split(",");
		
		$("#ids").val();
		
		arr.forEach( id => {
			$("#protagonists").val(id);
			actorSelected($("#protagonists")[0]);
		});
		
	});
</script>

</html>